language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm
before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction --dev
script: phpunit
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/3b679cdf13c96a1f53c8
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
